langchain
langchain-community
openai
faiss-cpu
pypdf
tiktoken
python-dotenv
numpy
langchain-google-genai
rank_bm25
fastapi
uvicorn[standard]
python-multipart
sse-starlette
firebase-admin
asyncpg
sqlalchemy[asyncio]
psycopg2-binary
pgvector
google-cloud-storage
groq
google.generativeai
